/* Add your code in each class */
body {
  background-color: rgb(44, 12, 44);
}
.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.movie-card {
  border-radius: 10px;
  position: relative;
  height: 300px;
  width: 300px;
}
.movie-image {
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
}
.movie-details-container {
  position: relative;
  top: 145px;
}
.descriptions {
  position: relative;
  margin: 25px;
  padding: 5px;
  color: white;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-size: x-large;
  font-weight: 700;
}
